*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack:#222;
$mainWhite:#fff;
$mainGray:#ececec;
$mainGreen:#82b320;

@mixin block {
  margin: 10px auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: Open Sans, serif;
}
